Packs/MongoDB/TestPlaybooks/playbook-MongoDBTest.yml
elasticcommonfields: {}
id: MongoDB - Test
version: 3
name: MongoDB - Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: b3e52506-98d3-46f6-8814-06aaf4295b03
    type: start
    task:
      elasticcommonfields: {}
      id: b3e52506-98d3-46f6-8814-06aaf4295b03
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: f5961e7f-d526-4b21-8bdf-60a959c5ec96
    type: regular
    task:
      elasticcommonfields: {}
      id: f5961e7f-d526-4b21-8bdf-60a959c5ec96
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: ef2111f4-7983-4da0-8f90-22199431a9d9
    type: regular
    task:
      elasticcommonfields: {}
      id: ef2111f4-7983-4da0-8f90-22199431a9d9
      version: -1
      name: Lists all collections
      description: Lists all collections in database
      script: '|||mongodb-list-collections'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: 287ec397-d7d6-482c-8a38-52fa5f02de80
    type: condition
    task:
      elasticcommonfields: {}
      id: 287ec397-d7d6-482c-8a38-52fa5f02de80
      version: -1
      name: Are any existing collections?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: MongoDB
                accessor: Collection.Name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 910,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 8fe1696d-1005-4423-8b8c-91d8de4315fb
    type: regular
    task:
      elasticcommonfields: {}
      id: 8fe1696d-1005-4423-8b8c-91d8de4315fb
      version: -1
      name: Delete them all
      description: Drops a collection from the database
      script: '|||mongodb-drop-collection'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      collection:
        complex:
          root: MongoDB
          accessor: Collection.Name
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 7b9bdcd7-3bc7-40f4-88b7-9bdfc51e2ef5
    type: regular
    task:
      elasticcommonfields: {}
      id: 7b9bdcd7-3bc7-40f4-88b7-9bdfc51e2ef5
      version: -1
      name: Create a collection
      description: Creates a collection
      script: '|||mongodb-create-collection'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 10162876-5077-4a0a-8db2-7324a8a388a0
    type: regular
    task:
      elasticcommonfields: {}
      id: 10162876-5077-4a0a-8db2-7324a8a388a0
      version: -1
      name: List all collections
      description: Lists all collections in database
      script: '|||mongodb-list-collections'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 75bfb0af-172a-4c2b-8682-4f5c8376a779
    type: title
    task:
      elasticcommonfields: {}
      id: 75bfb0af-172a-4c2b-8682-4f5c8376a779
      version: -1
      name: Prepare environment
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 93c331bc-eadc-4688-81a4-6357d13920a3
    type: condition
    task:
      elasticcommonfields: {}
      id: 93c331bc-eadc-4688-81a4-6357d13920a3
      version: -1
      name: Is collection exists?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: MongoDB
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: MongoDB.Collection.Name
                      iscontext: true
                    right:
                      value:
                        simple: inputs.collection
                      iscontext: true
                accessor: Collection.Name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 376fe116-4f1b-4eaa-83f0-6ab04aa853e6
    type: regular
    task:
      elasticcommonfields: {}
      id: 376fe116-4f1b-4eaa-83f0-6ab04aa853e6
      version: -1
      name: Insert an entry
      description: Inserts an entry to the database
      script: '|||mongodb-insert'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      entry:
        simple: '{"test" : "i am test"}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 9d44dc17-bafd-48a5-8534-41bc54dddedd
    type: regular
    task:
      elasticcommonfields: {}
      id: 9d44dc17-bafd-48a5-8534-41bc54dddedd
      version: -1
      name: Get entry by ID
      description: Get an entry from database by ID
      script: '|||mongodb-get-entry-by-id'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      object_id:
        complex:
          root: MongoDB
          accessor: Entry._id
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: 5709055e-0a30-4010-8697-3648d856f45c
    type: condition
    task:
      elasticcommonfields: {}
      id: 5709055e-0a30-4010-8697-3648d856f45c
      version: -1
      name: Verify context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "12"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: MongoDB
                accessor: Entry.test
            iscontext: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: f7fa3110-4f64-4c5f-8d8d-c3870b842cf3
    type: regular
    task:
      elasticcommonfields: {}
      id: f7fa3110-4f64-4c5f-8d8d-c3870b842cf3
      version: -1
      name: Delete context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "13":
    id: "13"
    taskid: 4fdba0e5-2a35-417d-8197-e0517dbb596a
    type: regular
    task:
      elasticcommonfields: {}
      id: 4fdba0e5-2a35-417d-8197-e0517dbb596a
      version: -1
      name: raise error
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Could not get entry from the Mongo server
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "14":
    id: "14"
    taskid: 2584efe5-d01e-4665-89f2-97422be7b073
    type: regular
    task:
      elasticcommonfields: {}
      id: 2584efe5-d01e-4665-89f2-97422be7b073
      version: -1
      name: Raise Error
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Could not find created collection
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "15":
    id: "15"
    taskid: 2f98966b-bd0b-4fc6-87dc-587735728f23
    type: condition
    task:
      elasticcommonfields: {}
      id: 2f98966b-bd0b-4fc6-87dc-587735728f23
      version: -1
      name: Verify context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: MongoDB
                accessor: Entry._id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "16":
    id: "16"
    taskid: 7d9d9e5e-53cf-44ea-8840-f90c68d6323c
    type: regular
    task:
      elasticcommonfields: {}
      id: 7d9d9e5e-53cf-44ea-8840-f90c68d6323c
      version: -1
      name: raise error
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Could not find inserted entry
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "17":
    id: "17"
    taskid: 118352f9-019a-42b0-8a42-cd99ebc16cda
    type: regular
    task:
      elasticcommonfields: {}
      id: 118352f9-019a-42b0-8a42-cd99ebc16cda
      version: -1
      name: Send query
      description: Searches items by query
      script: '|||mongodb-query'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      query:
        simple: '{"test" : "i am test"}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "18":
    id: "18"
    taskid: e81b89de-382b-44bc-8abe-4c40605ba322
    type: condition
    task:
      elasticcommonfields: {}
      id: e81b89de-382b-44bc-8abe-4c40605ba322
      version: -1
      name: Verify Context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: MongoDB
                accessor: Entry._id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "19":
    id: "19"
    taskid: aa438142-5a77-4ed8-8126-e3adb6f41ae5
    type: regular
    task:
      elasticcommonfields: {}
      id: aa438142-5a77-4ed8-8126-e3adb6f41ae5
      version: -1
      name: raise error
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Could not find queried entry
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "20":
    id: "20"
    taskid: c526591a-2e48-4d33-83dd-fdaf9344732c
    type: regular
    task:
      elasticcommonfields: {}
      id: c526591a-2e48-4d33-83dd-fdaf9344732c
      version: -1
      name: Update entry
      description: Updates an entry in a collection
      script: '|||mongodb-update'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      filter:
        simple: '{"test" : "i am test"}'
      update:
        simple: '{"$set": {"test": "still a test"}}'
      update_one: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "21":
    id: "21"
    taskid: f113b2eb-b716-495a-8a33-90e0018a3052
    type: regular
    task:
      elasticcommonfields: {}
      id: f113b2eb-b716-495a-8a33-90e0018a3052
      version: -1
      name: Query updated entry
      description: Searches items by query
      script: '|||mongodb-query'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      query:
        simple: '{"test": "still a test"}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2965
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "22":
    id: "22"
    taskid: ba82ba14-74b5-464a-8ce4-579598192f2b
    type: condition
    task:
      elasticcommonfields: {}
      id: ba82ba14-74b5-464a-8ce4-579598192f2b
      version: -1
      name: Verify Context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: MongoDB
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: MongoDB.Entry.test
                      iscontext: true
                    right:
                      value:
                        simple: still a test
                accessor: Entry._id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3140
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "23":
    id: "23"
    taskid: a3b0643f-78a8-471d-87ac-d3e6cc0c6cb3
    type: regular
    task:
      elasticcommonfields: {}
      id: a3b0643f-78a8-471d-87ac-d3e6cc0c6cb3
      version: -1
      name: Delete entry
      description: Deletes an entry from the database
      script: '|||mongodb-delete'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      delete_one: {}
      filter:
        simple: '{"test": "still a test"}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "24":
    id: "24"
    taskid: ce766276-57f3-4878-891e-063ea26dbd3b
    type: regular
    task:
      elasticcommonfields: {}
      id: ce766276-57f3-4878-891e-063ea26dbd3b
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "25":
    id: "25"
    taskid: 178bca12-5bcc-4ab2-8274-ac3635d6e4f3
    type: regular
    task:
      elasticcommonfields: {}
      id: 178bca12-5bcc-4ab2-8274-ac3635d6e4f3
      version: -1
      name: Query for all data
      description: Searches items by query
      script: '|||mongodb-query'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
      query:
        simple: '{}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3665
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "26":
    id: "26"
    taskid: fd0fa201-ad77-40a1-8b9d-de5f431540fe
    type: condition
    task:
      elasticcommonfields: {}
      id: fd0fa201-ad77-40a1-8b9d-de5f431540fe
      version: -1
      name: Verify Context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "27"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEmpty
          left:
            value:
              complex:
                root: MongoDB
                accessor: Entry._id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "27":
    id: "27"
    taskid: e1465550-ff93-46b3-885f-ca8a0fe7f3e0
    type: regular
    task:
      elasticcommonfields: {}
      id: e1465550-ff93-46b3-885f-ca8a0fe7f3e0
      version: -1
      name: Delete collection
      description: Drops a collection from the database
      script: '|||mongodb-drop-collection'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      collection:
        complex:
          root: inputs.collection
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4015
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "28":
    id: "28"
    taskid: e19b9696-2735-4159-8c9f-153fc07c0952
    type: regular
    task:
      elasticcommonfields: {}
      id: e19b9696-2735-4159-8c9f-153fc07c0952
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: 1e268851-7e84-4203-8e76-2e2a86327a36
    type: regular
    task:
      elasticcommonfields: {}
      id: 1e268851-7e84-4203-8e76-2e2a86327a36
      version: -1
      name: List all collections
      description: Lists all collections in database
      script: '|||mongodb-list-collections'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4365
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: ec4a6f19-7940-4d54-84c8-5d92b3182e33
    type: condition
    task:
      elasticcommonfields: {}
      id: ec4a6f19-7940-4d54-84c8-5d92b3182e33
      version: -1
      name: Check no collections returned
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "32"
      "yes":
      - "31"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotExists
          left:
            value:
              complex:
                root: MongoDB
                accessor: Collection.Name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "31":
    id: "31"
    taskid: ac2dfb88-9b4b-4901-85aa-56475a662d10
    type: title
    task:
      elasticcommonfields: {}
      id: ac2dfb88-9b4b-4901-85aa-56475a662d10
      version: -1
      name: FIN
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 4730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "32":
    id: "32"
    taskid: f583e163-0ae4-4b3f-8705-f87003c0bdb8
    type: regular
    task:
      elasticcommonfields: {}
      id: f583e163-0ae4-4b3f-8705-f87003c0bdb8
      version: -1
      name: raise error
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Collection was not empty
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4760,
        "width": 1455,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: collection
  value:
    simple: test
  required: false
  description: ""
  playbookInputQuery: null
outputs: []
